body
{
	background-color: lightgreen;
	font-size: 1em;
	font-family: "sans-serif";
	color: black;
}

h1
{
	font-weight: bold;
	font-family: sans-serif;
	color: darkblue;
	font-size: large;
}

a:hover
{
	background-color: cyan;
}




